<div class="footer_container">
  <h1>
    BETTER <br />
    Cripto
  </h1>
  
  <div>
    <a href="https://www.facebook.com/SomosBetterplan" target="_blank">
      <img alt="facebook logo" src="https://www.betterplan.cl/assets/svg/footer/facebook-icon.svg"/>
    </a>
    <a href="https://www.instagram.com/somosbetterplan/" target="_blank">
      <img alt="instagram logo" src="https://www.betterplan.cl/assets/svg/footer/instagram-icon.svg"/>
    </a>
    <a href="https://www.linkedin.com/company/betterplan/" target="_blank">
      <img alt="linkedin logo" src="	https://www.betterplan.cl/assets/svg/footer/icono-linkedin.svg"/>
    </a>
  </div>

  <div>
    <h1>Realizado por:</h1>
    <h1>José Hernández</h1>
  </div>
</div>
